<div>
    <div class="left">
        <div dropdown-click (clickOutside)="closeDropdown()" (clickInside)="openDropDown()">
            <div class="btn-group">
                <input #inp id="query" type="search" placeholder="{{ placeholder }}" class="form-control select" [(ngModel)]=query (keyup)=filter() autocomplete="off">
                <span *ngIf="query && query.length > 0" (click)="clearSearch()" id="search-clear" class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
        <ul *ngIf="filteredList.length > 0 && showDropdown">
            <li #scrollBar>
                <div *ngFor="let item of filteredList" (click)="select(item)">{{ item[property] }}</div>
            </li>
        </ul>
    </div>
    <div style="float:right;" class="selected form-control">
        <div *ngFor="let item of selected">
            <div>
                <a (click)="remove(item)"><i class="material-icons">delete</i></a>
                <span>{{ item[property] }}</span>
            </div>
        </div>
    </div>
</div>