@CHARSET "UTF-8";

.form-login {
    max-width: 350px;
    margin: 0 auto;
}

.form-control {
    height: 40px;
}

form.registration-form {
    max-width: 600px;
    margin: 0 auto;
}

div.registration-title, div.login-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.form-group {
    padding-left: 2px;
    padding-right: 2px;
}

#academicDisciplonesBtn {
    height: 40px;
}

.btn-reg {
    width: 200px;
    margin-top: 50px;
    align-content: center;
}

.reg-div {
    text-align: center;
}
